<div class="quizz__container">
    <div class="quizz_logo">
        <img src="../../../assets/imgs/logo.png" alt="">
        <h3>{{title}}</h3>
    </div>
    <div class="quizz_questions"
    *ngIf=hideQuestion>
        <h3>{{questionSelected.question}}</h3>
    </div>
    <div *ngIf=hideQuestion class="quizz_options">
        <button
        *ngFor="let option of questionSelected.options; let i = index"
        class="btn-option"
        (click)="playerChoice(option.alias)"
        (click)="nextStep()"
        >
            {{option.name}}
        </button>
    </div>
    <div class="quizz_backStep">
        <button
        class="backStep"
        *ngIf=hideQuestion
        (click)="stepBack()">
            voltar
        </button>
    </div>
    <div *ngIf=finished class="quizz_results">
        <h1>O seu resultado é:</h1>
        <img src="" alt="">
        <p>Reposta Selecionada</p>
    </div>
    <div *ngIf=finished class="quizz_restart">
        <button 
        (click)="restartQuizz()"
        class="btn-restart"
        >
            recomeçar
        </button>
    </div>

</div>